@{
    ViewData["Title"] = "我是首頁╰(*°▽°*)╯";
}

<div>場外你好。</div>
<div>
    <input type="button" id="giveMeStarburst" class="btn btn-primary" value="新增一個按鈕"/>
</div>
<div id="contain"></div>

@section scripts
{
    <script>
        $(function(){
            $("#giveMeStarburst").on("click", function(){
                // 星爆氣流斬GIF
                $("#contain").append('<img src="https://media.tenor.com/4Wmrjus9r0MAAAAC/%E6%98%9F%E7%88%86%E6%B0%A3%E6%B5%81%E6%96%AC.gif"/>');
            });
        })
    </script>
}